 <header>
  	<div>This is a header   </div>
  	<div>Wow  <%= title %> </div>
  	<div class="navigation">
  	<section class="layout">
  	<ul class="nav">
        <li><a href="/">Home</a></li>
		<li><a href="speakers">Speakers</a></li>
  	</ul>	
  	</section>
  </div>
  </header>






 